<%= provide :title, "About" %>
<html>
  <head>
    <title><%= yield(:title) %> Course Registration System </title>
  </head>
  <body>
    <h1> Course Offered </h1>
    <h2> Choose your course precisely </h2>
  </body>
</html>
