<%= provide :title, "Home" %>
<html>
  <head>
    <title><%= yield(:title) %> ONLINE COURSE REGISTRATION SYSTEM </title>
  </head>
  <body>
  <h1> Welcome to Online Course Registration </h1>
    <h2> Your class is only a click away...</h2>
    <h2> Stay tuned! </h2>
    <h2> <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary" %> <%= link_to "Log In", login_path, class:"btn btn-lg btn-primary" %></h2>
  </body>
</html>
