<h1>Course Registration</h1>
<p>Hi <%= @user.name %>,</p>
<p>
  Welcome to the Course Registration! Please click link below for account activation :
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
