<li>
  <%= link_to course.name, course %>
  <% if current_user.admin? %>
    |  <%= link_to "edit", edit_course_path(course) %>  |   
    <%= link_to "   delete", course, method: :delete, data: {confirm: "You sure?"} %>
  <% end %>
</li>
