@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 20px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $red;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $blackyellow;

}
  p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 60px;
  font-size: 1.7em;
  color: $darkyellow;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: normal;
  &:hover {
    color: $lightgrey;
    text-decoration: none;
    }
}


/*footer*/

footer {
  margin-top: 500px;
  padding-top: 5px;
  border-top: 3px solid $red;
  color: $blackyellow;
  a {
    color: $blackyellow;
    &:hover{
      color: $darkgrey;
    }
  }
  small {
    float: right;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 2px;
    }
  }
}
