<footer class="footer">
  <small>
    The Course Registration System </a>
    by Sun Asterisk Training (Malay Group 5) </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
